@use 'importer' as s;

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    // text-align: center;
    // background-color: s.$main__color_5;

    // border: 1px solid s.$main__color_6;

    border: {
        width: 2px;
        style: solid;
        color: s.$main__color_6;
        radius: 10px;
    }

    .cards__wrapper {
        width: 100%;
        height: 100%;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-wrap: wrap;
        @include s.d-flex(center, center, wrap);
    }
}